
*
{
	font-family: arial;
}
.user_navigation
{
	position: absolute;
	top: 20px;
	right: 30px;
}
.user_navigation a 
{
	color: #bfbfbf;
	text-decoration: none;
}
.user_navigation li
{
	display: inline-block;
	padding: 15px;

}
.logo
{
	width: 100px;
	height: 80px;
	position: relative;
	top: 17px;	
}
}
.host
{
	right: 40px;
	top: 80px;
	color: #999999;
}
.help
{
	top: 40px;
	right: 60px;
	color: #999999;
}
.sign_up
{
	top: 40px;
	right: 30px;
	color: #999999;
}
.log_in
{
	top: 40px;
	right: 20px;
	color: #999999;
}
.book
{
	font-size: 60px;
	font-family: helvetica;
	font-weight: 200;
	color: #b2b2b2;
}
.airbnb
{
	color:	#ff6f69;
	font-weight: 600;
	
}
.link_host
{
	color: #999999;
}
.link_help
{
	color: #bfbfbf;
}
h1
{
	text-align: left;
	font-size: 95px;
}
.search_box
{
	border: none;
	display: inline-block;
	position: static;
	padding: 20px;
	left: 40px;	
}
.search_box:focus
{
	border-bottom: 1px solid black;
	outline: none;

}

