
*
{
	font-family:'Source Sans Pro', sans-serif;
}
.logo
{
	width: 100px;
	height: 80px;
	position: relative;
	top: 17px;
	display: inline-block;
}
.horizontal
{
	display: inline;
	color: #999999;
}
.host
{
	top: 30px;
	right: 10px;
}
.time
{
	top: 30px;
	right: 60px;
}
.help
{
	top: 30px;
}
.sign_up
{
	top: 30px;
}
.log_in
{
	top: 30px;
}
.book
{
	font-size: 20px;
}
.airbnb
{
	color:	#ff6f69;
	
}